<div class="click-to-see">
  <div class="click-to-see-clicker" onclick="Drupal.behaviors.clickToSee.clickToSeePressed(this)">
    {{ '** Click to see **'|t }}
  </div>
  <div class="click-to-see-content hide">
    {{ content }}
  </div>
</div>
